<html>
    <head>
        <style>
           body{ background-color:gray;}
           div{
               width:300px;
               height:200px;
               background-color:lightgreen }
        </style>
        <title> Form Test Index </title>

    </head>
<body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
    <div>
             Counter: {{session['times']}}
            <button value='reset' name='reset_button' type="reset"></button> 
           
    
    </div>  
    
   </body>
</html>
